<section class="game-container">
    <app-game-results [winner]="winner" [player0]="Human" [player1]="Computer"></app-game-results>
    <app-stage
            (reset)="reset()"
            (winner)="setWinner($event)"
            [weapons]="weapons"
            [player0]="Human"
            [player1]="Computer"
            [readyToPlay]="readyToPlay">
    </app-stage>
</section>