<section class="game-stage">

    <button *ngIf="readyToPlay" class="play-btn play" (click)="onFightClick()">Fight!</button>
    <button *ngIf="!readyToPlay" class="play-btn reset" (click)="this.reset.emit()">Play Again!</button>

    <div class="weapons-available">
        <span>Select your weapon: </span>
        <span *ngFor="let weapon of weapons">
            <app-weapon (click)="onWeaponSelect(weapon)" [selected]="weapon === player0?.selectedWeapon" [item]="weapon"></app-weapon>
        </span>
    </div>

</section>
