.play-btn {
    width: 100%;
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    margin: .2rem 0;
}

.play-btn:hover {
    background: #cddc39;
    cursor: pointer;
    border: 1px solid #cddc39;
}


.play-btn.reset {
    background: #ff5722;
}