.weapon {
    padding: 2%;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

.weapon.selected {
    background-color: #ddd;
}