.game-results {
    min-height: 300px;
    border: 1px solid #ddd;
}

.winner {
    display: block;
    padding: 1rem;
    background: #263238;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.human-choice.is-winner,
.computer-choice.is-winner {
    background-color: #8bc34a;
}

.human-choice,
.computer-choice {
    padding: 1rem;
    background-color: #ff5722;
}

.choice-result {
    margin: 1rem 0;
    padding: 75px 10px;
    width: 150px;
    border-radius: 2000px;
    display: inline-block;
}