<section class="game-results">

    <div>
        <div class="winner" *ngIf="winner">{{ winner.name }} WINS!</div>
        <div class="winner" *ngIf="winner === null">None wins this round, try again!</div>
    </div>

    <div *ngIf="winner || winner === null" class="game-result">
        <div class="block-50 text-center">
            <h3>You selected:</h3>
            <span [class.is-winner]="player0.isWinner" class="choice-result human-choice">{{ player0.selectedWeapon.name }}</span>
        </div>
        <div class="block-50 text-center">
            <h3>Computer selected:</h3>
            <span [class.is-winner]="player1.isWinner" class="choice-result computer-choice">{{ player1.selectedWeapon.name }}</span>
        </div>
    </div>

</section>