/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    color: #02091A;
}

.container {
    width: 80%;
    margin: auto;
}

.block-50 {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}

.text-center {
    text-align: center;
}